.gradient {
  background: linear-gradient(120deg, #363637, rgba(38,4,4,0.6));
  color: #fff;
}

.list-group-item-linkable:hover {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
  cursor: pointer;
}

